<div id="Footer" class="band full">
<div class="bandContent">
			<div id="footer-contact" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h3>Contact &amp; Visit</h3>
					<div class="row">
							<div id="address">
								<address>
								<strong> Wilmington University</strong><br>
								320 N. DuPont Hwy<br>
								New Castle, DE 19720
								</address>
							</div>	
					 <div id="logos">
  					 <a href="https://www.facebook.com/WilmingtonUniversity" class="footerLogo facebook"></a>
  					  <a href="https://twitter.com/theWilmU" class="footerLogo twitter"></a>
  				   <a href="https://www.instagram.com/wilmingtonuniversity" class="footerLogo instagram"></a>
  				   <a href="https://www.linkedin.com/edu/wilmington-university-18075" class="footerLogo linkedin"></a>
  				   <a href="https://www.youtube.com/user/wilmu68" class="footerLogo youtube"></a>
           </div>
					</div>
		 	 </div>
</div>
</div>
<!-- END .row -->
<p class="copyright">&copy; 2018 Wilmington University</p>
